<!-- Archivo con los botones y las acciones que se ejecutarán -->
<div class="btn-group"><div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="hello world" data-toggle="dropdown" aria-expanded="false" style="border-radius: 0px;">
		hello world
	</button>
	<div class="dropdown-menu" aria-labelledby="hello world">
		<button class="dropdown-item" data-toggle="modal" data-target="#exampleModal1">message 1</button>
		<button class="dropdown-item" data-toggle="modal" data-target="#exampleModal2">message 2</button>
	</div>
</div>
<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="qwerty" data-toggle="dropdown" aria-expanded="false" style="border-radius: 0px;">
		qwerty
	</button>
	<div class="dropdown-menu" aria-labelledby="qwerty">
		<button class="dropdown-item" data-toggle="modal" data-target="#exampleModal3">message 2</button>
	</div>
</div>
</div>

<!-- Modales -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog  modal-dialog-centered"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">hello world</h5></div><div class="modal-body">Consumiendo el mensaje: message 1</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div></div></div></div>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog  modal-dialog-centered"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">hello world</h5></div><div class="modal-body">Consumiendo el mensaje: message 2</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div></div></div></div>
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"><div class="modal-dialog  modal-dialog-centered"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">qwerty</h5></div><div class="modal-body">Consumiendo el mensaje: message 2</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div></div></div></div>